footer{
    display: flex;
    justify-content: space-between;
    background:rgba(0,0,0,0.7);
    color:#b7b7b7;
    position: fixed; 
    bottom:0;
    width: 100%;
  }
  
  .footer-one{
    text-transform: uppercase;
    padding-left: 100px;
  }
  .footer-two{
    display: flex;
    justify-content: space-between;
  }
  .footer-two p{
    padding: 0 5px;
  }
  .footer-three span{
    color:#fff;
    padding-right: 100px;
  }
 
  @media (max-width: 800px){
    .footer-one{
      padding-left: 10px;
    }
    .footer-three span {
      padding-right: 10px;
    }
  }

  @media (max-width: 570px){
    footer{
      font-size: 10px;
    }
  }